@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding:0;
  overflow-x: hidden;
}

ul, li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.underline-effect {
  opacity: 100%;
}

.active {
  display: block;
}

input::-webkit-input-placeholder {
  color: #1111;
  opacity: 50%;
  
}

input::placeholder {
  color: #111111;
  opacity: 50%;
}

.active_error::placeholder {
  color: #B54949;
}

.active_error {
  border-bottom: 1px solid #B54949;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
